<h1>{{title}}</h1>
{{#if note}}
    <form method="post" class="createNote">
        <label for="title">Titel</label><input type="text" name="title" value="{{note.title}}" required>
        <label for="descr">Beschreibung</label><input type="text" name="descr" value="{{note.descr}}">
        <label for="importance">Wichtigkeit</label><input type="number" name="importance" min="1" max="5"
                                                            value="{{note.importance}}" required>
        <label for="doneuntil"></label>Erledigen bis<input type="date" name="doneuntil" value="{{note.doneuntil}}" required>
        <div>
            <input type="checkbox" name="complete" {{#if note.complete}} checked {{/if}}/> <label for="complete">Erledigt</label>
        </div>
        <input type="submit" value="Update Note">
    </form>
{{else}}
    <form method="post" class="createNote">
        <label for="title">Titel</label> <input type="text" name="title" required>
        <label for="descr">Beschreibung</label> <input type="text" name="descr">
        <label for="importance">Wichtigkeit</label> <input type="number" name="importance" min="1" max="5" required>
        <label for="doneuntil">Erledigen bis</label> <input type="date" name="doneuntil" required>
        <div>
            <input type="checkbox" name="complete"/> <label for="complete">Erledigt</label>
        </div>
        <input type="submit" value="Notiz erstellen">

    </form>
{{/if}}
<form method="get" action="/" id="abortButton">
    <input type="submit" id="abort" value="Abbrechen">
</form>