<h1>{{title}}</h1>
{{#if note}}
    <form method="post" class="createNote">
        <label for="title">Title: </label><input type="text" name="title" value="{{note.title}}" required>
        <label for="descr"></label><input type="text" name="descr" value="{{note.descr}}">
        <label for="importance"></label> Importance: <input type="number" name="importance" min="1" max="5"
                                                            value="{{note.importance}}" required>
        <label for="doneuntil"></label> until: <input type="date" name="doneuntil" value="{{note.doneuntil}}" required>
        <div>
            <input type="checkbox" name="complete" {{#if note.complete}} checked {{/if}}/> <label for="complete">Complete</label>
        </div>
        <input type="submit" value="Update Note">
    </form>
{{else}}
    <form method="post" class="createNote">
        <label for="title">Title:</label> <input type="text" name="title" required>
        <label for="descr">Description:</label> <input type="text" name="descr">
        <label for="importance">Importance:</label> <input type="number" name="importance" min="1" max="5" required>
        <label for="doneuntil">Done until:</label> <input type="date" name="doneuntil" required>
        <div>
            <input type="checkbox" name="complete"/> <label for="complete">Complete</label>
        </div>
        <input type="submit" value="Create Note">

    </form>
{{/if}}
<form method="get" action="/">
    <input type="submit" id="abort" value="Abbrechen">
</form>