<header class="header">
    <div class="headerMainFunctions">
        <form method="get" action="/create">
            <input type="submit" id="createNewNote" value="Neue Notiz">
        </form>
        <form method="get" action="/changeStyle">
            <input type="submit" id="changeStyle" value="Style wechseln">
        </form>
    </div>
    <div class="headerOrderFunctions">
        <form method="get" action="/sort/importance">
            <input type="submit" id="sortImportance" value="Sort. Wichtigkeit">
        </form>
        <form method="get" action="sort/doneuntil">
            <input type="submit" id="sortImportance" value="Sort. Datum">
        </form>
        <form method="get" id="hideButton" action="/hideNotes">
            <input type="submit"
                   value="{{#if hideNote}}Fertige anzeigen{{else}}Fertige verbergen{{/if}}">
        </form>
    </div>
</header>
<main id="main" class="mainView">
    {{#if note}}
        {{#each note}}
            <div class="noteItem">
                <h2>{{this.title}} </h2>
                <p>{{this.descr}} </p>
                <p class="noteItemImportance">
                    {{#times this.importance}}
                        &#x26e4; &nbsp;
                    {{/times}}
                    <br></p>
                <p>{{doneuntil}} <br></p>
                <div class="noteCompletedCheckbox">
                    <input type="checkbox" name="complete" disabled="disabled" {{#if this.complete}}
                           checked {{/if}}>
                    Complete
                </div>

                <div class="noteItemButtons">
                    <form method="get" action="/editNote">
                        <input type="hidden" name="noteID" value="{{this._id}}">
                        <input type="submit" value="Notiz ändern">
                    </form>
                    <form method="get" action="/deleteNote">
                        <input type="hidden" name="noteID" value="{{this._id}}">
                        <input type="submit" value="Notiz löschen">
                    </form>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="noNoteData">
            <p>Keine Notizen vorhanden!</p>
        </div>
    {{/if}}

</main>