<header class="header">
    <div class="headerMainFunctions">
        <form method="get" action="/create">
            <input type="submit" id="createNewNote" value="Neue Notiz">
        </form>
        <form method="get" action="/changeStyle">
            <input type="submit" id="changeStyle" value="Style wechseln">
        </form>
    </div>
    <div class="headerOrderFunctions">
        <form method="get" action="/sort/importance">
            <input type="submit" id="sortImportance" value="Sort. Wichtigkeit">
        </form>
        <form method="get" action="sort/doneuntil">
            <input type="submit" id="sortImportance" value="Sort. Datum">
        </form>
        <form method="get" id="hideButton" action="/hideNotes">
            <input type="submit"
                   value="{{#if hideNote}}Fertige anzeigen{{else}}Fertige verbergen{{/if}}">
        </form>
    </div>
</header>
<main id="main" class="mainView">
    {{#if note}}
        {{#each note}}
            <div class="noteItem">
                <div class="noteHeader">
                    <h2 class="noteTitle">

                        {{#if this.complete}}
                            &#x2611;
                        {{else}}
                            &#x2610;
                        {{/if}}
                        {{this.title}} </h2>

                    <p class="noteItemImportance">
                        {{#times this.importance}}
                            &#x26e4; &nbsp;
                        {{/times}}
                    </p>
                </div>
                <p class="noteDescription">{{this.descr}} </p>
                <p class="noteDoneUntil">{{doneuntil}} <br></p>

                <div class="noteItemButtons">
                    <form method="get" action="/editNote">
                        <input type="hidden" name="noteID" value="{{this._id}}">
                        <input type="submit" value="Notiz ändern">
                    </form>
                    <form method="get" action="/deleteNote">
                        <input type="hidden" name="noteID" value="{{this._id}}">
                        <input type="submit" value="Notiz löschen">
                    </form>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="noNoteData">
            <p>Keine Notizen vorhanden!</p>
        </div>
    {{/if}}

</main>